resource_registry:
  OS::TripleO::Network::Ports::ControlPlaneVipPort: /usr/share/openstack-tripleo-heat-templates/network/ports/deployed_vip_ctlplane.yaml
  OS::TripleO::Network::Ports::StorageVipPort: network/ports/deployed_vip_storage.yaml

  OS::TripleO::Network::Ports::StorageMgmtVipPort: network/ports/deployed_vip_storage_mgmt.yaml
  OS::TripleO::Network::Ports::InternalApiVipPort: network/ports/deployed_vip_internal_api.yaml
  # Tenant network does not use VIPs
  OS::TripleO::Network::Ports::ExternalVipPort: network/ports/deployed_vip_external.yaml
  OS::TripleO::Network: /usr/share/openstack-tripleo-heat-templates/network/deployed_networks.yaml
parameter_defaults:
  NodePortMap:
    standalone:
      ctlplane:
        ip_address: {{ ctlplane_ip }}
        ip_subnet: {{ ctlplane_subnet }}
        ip_address_uri: {{ ctlplane_ip }}
      storage:
        ip_address: {{ storage_addr_prefix }}{{ ip_address_suffix }}
        ip_subnet: {{ storage_addr_prefix }}1/{{ storage_cidr }}
        ip_address_uri: {{ storage_addr_prefix }}{{ ip_address_suffix }}
      storage_mgmt:
        ip_address: {{ storage_mgmt_addr_prefix }}{{ ip_address_suffix }}
        ip_subnet: {{ storage_mgmt_addr_prefix }}1/{{ storage_mgmt_cidr }}
        ip_address_uri: {{ storage_mgmt_addr_prefix }}{{ ip_address_suffix }}
      internal_api:
        ip_address: {{ internal_addr_prefix }}{{ ip_address_suffix }}
        ip_subnet: {{ internal_addr_prefix }}1/{{ internal_cidr }}
        ip_address_uri: {{ internal_addr_prefix }}{{ ip_address_suffix }}
      tenant:
        ip_address: {{ tenant_addr_prefix }}{{ ip_address_suffix }}
        ip_subnet: {{ tenant_addr_prefix }}1/{{ tenant_cidr }}
        ip_address_uri: {{ tenant_addr_prefix }}{{ ip_address_suffix }}
      external:
        ip_address: {{ external_addr_prefix }}{{ ip_address_suffix }}
        ip_subnet: {{ external_addr_prefix }}1/{{ external_cidr }}
        ip_address_uri: {{ external_addr_prefix }}{{ ip_address_suffix }}
  {%- for network in additional_networks if network.standalone_config %}
  {%- set net = network.standalone_config %}
      {{ net.name.lower() }}:
        ip_address: {{ net.ip_subnet.split('/')[0].split('.')[:-1] | join('.') + '.' + ip_address_suffix | string }}
        ip_subnet: {{ net.ip_subnet }}
        ip_address_uri: {{ net.ip_subnet.split('/')[0].split('.')[:-1] | join('.') + '.' + ip_address_suffix | string }}
  {%- endfor %}
  ControlPlaneVipData:
    fixed_ips:
    - ip_address: {{ ctlplane_vip }}
    name: control_virtual_ip
    network:
      tags:
      - {{ ctlplane_subnet }}
    subnets:
    - ip_version: {{ 6 if is_ipv6 else 4 }}
  VipPortMap:
    storage:
      ip_address: {{ storage_addr_prefix }}2
      ip_address_uri: {{ storage_addr_prefix }}2
      ip_subnet: {{ storage_addr_prefix }}2/{{ storage_cidr }}
    storage_mgmt:
      ip_address: {{ storage_mgmt_addr_prefix }}2
      ip_address_uri: {{ storage_mgmt_addr_prefix }}2
      ip_subnet: {{ storage_mgmt_addr_prefix }}2/{{ storage_mgmt_cidr }}
    internal_api:
      ip_address: {{ internal_addr_prefix }}2
      ip_address_uri: {{ internal_addr_prefix }}2
      ip_subnet: {{ internal_addr_prefix }}2/{{ internal_cidr }}
    # tenant:
    #   ip_address: {{ tenant_addr_prefix }}2
    #   ip_address_uri: {{ tenant_addr_prefix }}2
    #   ip_subnet: {{ tenant_addr_prefix }}2/{{ tenant_cidr }}
    external:
      ip_address: {{ external_addr_prefix }}2
      ip_address_uri: {{ external_addr_prefix }}2
      ip_subnet: {{ external_addr_prefix }}2/{{ external_cidr }}
{%- for network in additional_networks if network.standalone_config and network.standalone_config.vip %}
{%- set net = network.standalone_config %}
    {{ net.name.lower() }}:
      ip_address: {{ net.ip_subnet.split('/')[0].split('.')[:-1] | join('.') + '.2' }}
      ip_address_uri: {{ net.ip_subnet.split('/')[0].split('.')[:-1] | join('.') + '.2' }}
      ip_subnet: {{ net.ip_subnet }}
{%- endfor %}
  DeployedNetworkEnvironment:
    net_cidr_map:
      storage:
      - {{ storage_addr_prefix }}0/{{ storage_cidr }}
      storage_mgmt:
      - {{ storage_mgmt_addr_prefix }}0/{{ storage_mgmt_cidr }}
      internal_api:
      - {{ internal_addr_prefix }}0/{{ internal_cidr }}
      tenant:
      - {{ tenant_addr_prefix }}0/{{ tenant_cidr }}
      external:
      - {{ external_addr_prefix }}0/{{ external_cidr }}
{%- for network in additional_networks if network.standalone_config %}
{%- set net = network.standalone_config %}
      {{ net.name.lower() }}:
      - {{ net.ip_subnet }}
{%- endfor %}
    net_ip_version_map:
      storage: {{ 6 if is_ipv6 else 4 }}
      storage_mgmt: {{ 6 if is_ipv6 else 4 }}
      internal_api: {{ 6 if is_ipv6 else 4 }}
      tenant: {{ 6 if is_ipv6 else 4 }}
      external: {{ 6 if is_ipv6 else 4 }}
{%- for network in additional_networks if network.standalone_config %}
{%- set net = network.standalone_config %}
      {{ net.name.lower() }}: {{ 6 if is_ipv6 else 4 }}
{%- endfor %}
    net_attributes_map:
      storage:
        network:
          dns_domain: storage.mydomain.tld.
          mtu: 1500
          name: storage
          tags:
          - tripleo_network_name=Storage
          - tripleo_net_idx=0
          - tripleo_service_net_map_replace=storage
          - tripleo_vip=true
        subnets:
          storage_subnet:
            cidr: {{ storage_addr_prefix }}0/{{ storage_cidr }}
            dns_nameservers: []
            gateway_ip: null
            host_routes: []
            ip_version: {{ 6 if is_ipv6 else 4 }}
            name: storage_subnet
      storage_mgmt:
        network:
          dns_domain: storagemgmt.mydomain.tld.
          mtu: 1500
          name: storage_mgmt
          tags:
          - tripleo_network_name=StorageMgmt
          - tripleo_net_idx=0
          - tripleo_service_net_map_replace=storage_mgmt
          - tripleo_vip=true
        subnets:
          storage_mgmt_subnet:
            cidr: {{ storage_mgmt_addr_prefix }}0/{{ storage_mgmt_cidr }}
            dns_nameservers: []
            gateway_ip: null
            host_routes: []
            ip_version: {{ 6 if is_ipv6 else 4 }}
            name: storage_mgmt_subnet
      internal_api:
        network:
          dns_domain: internal.mydomain.tld.
          mtu: 1500
          name: internal_api
          tags:
          - tripleo_network_name=InternalApi
          - tripleo_net_idx=0
          - tripleo_service_net_map_replace=internal
          - tripleo_vip=true
        subnets:
          internal_api_subnet:
            cidr: {{ internal_addr_prefix }}0/{{ internal_cidr }}
            dns_nameservers: []
            gateway_ip: null
            host_routes: []
            ip_version: {{ 6 if is_ipv6 else 4 }}
            name: internal_api_subnet
      tenant:
        network:
          dns_domain: tenant.mydomain.tld.
          mtu: 1500
          name: tenant
          tags:
          - tripleo_network_name=Tenant
          - tripleo_net_idx=0
          - tripleo_service_net_map_replace=tenant
          - tripleo_vip=false
        subnets:
          tenant_subnet:
            cidr: {{ tenant_addr_prefix }}0/{{ tenant_cidr }}
            dns_nameservers: []
            gateway_ip: null
            host_routes: []
            ip_version: {{ 6 if is_ipv6 else 4 }}
            name: tenant_subnet
      external:
        network:
          dns_domain: external.mydomain.tld.
          mtu: 1500
          name: external
          tags:
          - tripleo_network_name=External
          - tripleo_net_idx=0
          - tripleo_service_net_map_replace=external
          - tripleo_vip=true
        subnets:
          external_subnet:
            cidr: {{ external_addr_prefix }}0/{{ external_cidr }}
            dns_nameservers: []
            gateway_ip: null
            host_routes: []
            ip_version: {{ 6 if is_ipv6 else 4 }}
            name: external_subnet
{%- for network in additional_networks if network.standalone_config %}
{%- set net = network.standalone_config %}
      {{ net.name.lower() }}:
        network:
          dns_domain: {{ net.name.lower() }}.mydomain.tld.
          mtu: {{ net.mtu | default(1500) }}
          name: {{ net.name.lower() }}
          tags:
          - tripleo_network_name={{ net.name }}
          - tripleo_net_idx=0
          - tripleo_vip={{ net.vip | string | lower }}
        subnets:
          {{ net.name.lower() }}_subnet:
            cidr: {{ net.ip_subnet }}
            dns_nameservers: {{ net.dns_nameservers | default([]) }}
            gateway_ip: {{ net.gateway_ip | default('null') }}
            host_routes: {{ net.host_routes | default([]) }}
            ip_version: {{ 6 if is_ipv6 else 4 }}
            name: {{ net.name.lower() }}_subnet
{%- endfor %}
