- name: Storage
  mtu: 1500
  vip: true
  {% if is_ipv6 %}
  ipv6: true
  {% endif %}
  name_lower: storage
  dns_domain: storage.mydomain.tld.
  service_net_map_replace: storage
  subnets:
    storage_subnet:
    {% if is_ipv6 %}
      ipv6_subnet: '{{ storage_addr_prefix }}0/{{ storage_cidr }}'
      ipv6_allocation_pools: [{'start': '{{ storage_addr_prefix }}4', 'end': '{{ storage_addr_prefix }}150'}]
    {%- else %}
      ip_subnet: '{{ storage_addr_prefix }}0/{{ storage_cidr }}'
      allocation_pools: [{'start': '{{ storage_addr_prefix }}4', 'end': '{{ storage_addr_prefix }}150'}]
    {% endif %}

- name: StorageMgmt
  mtu: 1500
  vip: true
  {% if is_ipv6 %}
  ipv6: true
  {% endif %}
  vlan: 23
  name_lower: storage_mgmt
  dns_domain: storagemgmt.mydomain.tld.
  service_net_map_replace: storage_mgmt
  subnets:
    storage_mgmt_subnet:
    {% if is_ipv6 %}
      ipv6_subnet: '{{ storage_mgmt_addr_prefix }}0/{{ storage_mgmt_cidr }}'
      ipv6_allocation_pools: [{'start': '{{ storage_mgmt_addr_prefix }}4', 'end': '{{ storage_mgmt_addr_prefix }}250'}]
    {%- else %}
      ip_subnet: '{{ storage_mgmt_addr_prefix }}0/{{ storage_mgmt_cidr }}'
      allocation_pools: [{'start': '{{ storage_mgmt_addr_prefix }}4', 'end': '{{ storage_mgmt_addr_prefix }}250'}]
    {% endif %}

- name: InternalApi
  mtu: 1500
  vip: true
  {% if is_ipv6 %}
  ipv6: true
  {% endif %}
  vlan: 20
  name_lower: internal_api
  dns_domain: internal-api.mydomain.tld.
  service_net_map_replace: internal_api
  subnets:
    internal_api_subnet:
    {% if is_ipv6 %}
      ipv6_subnet: '{{ internal_addr_prefix }}0/{{ internal_cidr }}'
      ipv6_allocation_pools: [{'start': '{{ internal_addr_prefix }}4', 'end': '{{ internal_addr_prefix }}250'}]
    {%- else %}
      ip_subnet: '{{ internal_addr_prefix }}0/{{ internal_cidr }}'
      allocation_pools: [{'start': '{{ internal_addr_prefix }}4', 'end': '{{ internal_addr_prefix }}250'}]
    {% endif %}

- name: Tenant
  mtu: 1500
  vip: false  # Tenant network does not use VIPs
  {% if is_ipv6 %}
  ipv6: true
  {% endif %}
  vlan: 22
  name_lower: tenant
  dns_domain: tenant.mydomain.tld.
  service_net_map_replace: tenant
  subnets:
    tenant_subnet:
    {% if is_ipv6 %}
      ipv6_subnet: '{{ tenant_addr_prefix }}0/{{ tenant_cidr }}'
      ipv6_allocation_pools: [{'start': '{{ tenant_addr_prefix }}4', 'end': '{{ tenant_addr_prefix }}250'}]
    {%- else %}
      ip_subnet: '{{ tenant_addr_prefix }}0/{{ tenant_cidr }}'
      allocation_pools: [{'start': '{{ internal_addr_prefix }}4', 'end': '{{ internal_addr_prefix }}250'}]
    {% endif %}

- name: External
  mtu: 1500
  vip: true
  {% if is_ipv6 %}
  ipv6: true
  {% else %}
  gateway_ip: '172.21.0.1'
  {% endif %}
  vlan: 44
  name_lower: external
  dns_domain: external.mydomain.tld.
  service_net_map_replace: external
  subnets:
    external_subnet:
    {% if is_ipv6 %}
      ipv6_subnet: '{{ external_addr_prefix }}0/{{ external_cidr }}'
      ipv6_allocation_pools: [{'start': '{{ external_addr_prefix }}4', 'end': '{{ external_addr_prefix }}250'}]
    {%- else %}
      ip_subnet: '{{ external_addr_prefix }}0/{{ external_cidr }}'
      allocation_pools: [{'start': '{{ external_addr_prefix }}4', 'end': '{{ external_addr_prefix }}250'}]
    {% endif %}

{% for network in additional_networks if network.standalone_config -%}
{%- set net = network.standalone_config -%}
- name: {{ net.name }}
  mtu: {{ net.mtu | default(1500) }}
  vip: {{ net.vip | default('false') }}
  name_lower: {{ net.name.lower() }}
{%- if net.vlan | default(false) %}
  vlan: {{ net.vlan }}
{%- endif %}
  dns_domain: {{ net.name.lower() }}.mydomain.tld.
  subnets:
    {{ net.name.lower() }}_subnet:
      ip_subnet: '{{ net.ip_subnet }}'
      allocation_pools:
{%- for pool in net.allocation_pools %}
        - {'start': '{{ pool.start }}', 'end': '{{ pool.end }}'}
{%- endfor %}
{% endfor -%}
