---
extends: default

rules:
  line-length:
    max: 150
    level: warning
  truthy:
    allowed-values:
      - 'true'
      - 'false'
    check-keys: true

ignore: |
  devsetup/standalone/deployed_network.yaml
  devsetup/standalone/network_data.yaml
