#jinja2: trim_blocks:False
network_config:
- type: ovs_bridge
  name: br-ex
  mtu: {{ interface_mtu }}
  use_dhcp: false
  dns_servers:
  {% if dns_server %}
  - {{ dns_server }}
  {% endif %}
  - {{ gateway_ip }}
  domain: []
  addresses:
  - ip_netmask: {{ ctlplane_ip }}/{{ ctlplane_cidr }}
  routes: []
  members:
  - type: interface
    name: {{ os_net_config_iface | default(nic1) }}
    mtu: {{ interface_mtu }}
    # force the MAC address of the bridge to this interface
    primary: true
  # external
  - type: vlan
    mtu: {{ interface_mtu }}
    vlan_id: 44
    addresses:
    - ip_netmask: {{ standalone_external_prefix | default("172.21.0", true)}}.{{ ip_address_suffix }}/24
    {% if adopted_external_net|default %}
    routes:
      - ip_netmask: {{ adopted_external_net }}
        next_hop: {{ standalone_external_prefix | default("172.21.0", true) }}.{{ip_address_suffix}}
    {% else %}
    routes: []
    {% endif %}
  # internal
  - type: vlan
    mtu: {{ interface_mtu }}
    vlan_id: 20
    addresses:
    - ip_netmask: {{ standalone_internal_prefix | default("172.17.0", true)}}.{{ ip_address_suffix }}/24
    {% if adopted_internal_net|default %}
    routes:
      - ip_netmask: {{ adopted_internal_net }}
        next_hop: {{ standalone_internal_prefix | default("172.17.0", true) }}.{{ip_address_suffix}}
    {% else %}
    routes: []
    {% endif %}
  # storage
  - type: vlan
    mtu: {{ interface_mtu }}
    vlan_id: 21
    addresses:
    - ip_netmask: {{ standalone_storage_prefix | default("172.18.0", true) }}.{{ ip_address_suffix }}/24
    {% if adopted_storage_net|default %}
    routes:
      - ip_netmask: {{ adopted_storage_net }}
        next_hop: {{ standalone_storage_prefix | default("172.18.0", true) }}.{{ ip_address_suffix }}
    {% else %}
    routes: []
    {% endif %}
  # storage_mgmt
  - type: vlan
    mtu: {{ interface_mtu }}
    vlan_id: 23
    addresses:
    - ip_netmask: {{ standalone_storage_mgmt_prefix | default("172.20.0", true) }}.{{ ip_address_suffix }}/24
    {% if adopted_storage_mgmt_net|default %}
    routes:
      - ip_netmask: {{ adopted_storage_mgmt_net }}
        next_hop: {{ standalone_storage_mgmt_prefix | default("172.20.0", true) }}.{{ ip_address_suffix }}
    {% else %}
    routes: []
    {% endif %}
  # tenant
  - type: vlan
    mtu: {{ interface_mtu }}
    vlan_id: 22
    addresses:
    - ip_netmask: {{ standalone_tenant_prefix | default("172.19.0", true) }}.{{ ip_address_suffix }}/24
    {% if adopted_tenant_net|default %}
    routes:
      - ip_netmask: {{ adopted_tenant_net }}
        next_hop: {{ standalone_tenant_prefix | default("172.19.0", true) }}.{{ ip_address_suffix }}
    {% else %}
    routes: []
    {% endif %}
