---
resource_registry:
  # yamllint disable rule:line-length
  OS::TripleO::Services::CeilometerAgentCentral: /usr/share/openstack-tripleo-heat-templates/deployment/ceilometer/ceilometer-agent-central-container-puppet.yaml
  OS::TripleO::Services::CeilometerAgentNotification: /usr/share/openstack-tripleo-heat-templates/deployment/ceilometer/ceilometer-agent-notification-container-puppet.yaml
  OS::TripleO::Services::CeilometerAgentIpmi: /usr/share/openstack-tripleo-heat-templates/deployment/ceilometer/ceilometer-agent-ipmi-container-puppet.yaml
  OS::TripleO::Services::ComputeCeilometerAgent: /usr/share/openstack-tripleo-heat-templates/deployment/ceilometer/ceilometer-agent-compute-container-puppet.yaml
  OS::TripleO::Services::Collectd: /usr/share/openstack-tripleo-heat-templates/deployment/metrics/collectd-container-puppet.yaml
  OS::TripleO::Services::MetricsQdr: /usr/share/openstack-tripleo-heat-templates/deployment/metrics/qdr-container-puppet.yaml
  OS::TripleO::Services::OsloMessagingRpc: /usr/share/openstack-tripleo-heat-templates/deployment/rabbitmq/rabbitmq-messaging-rpc-pacemaker-puppet.yaml
  OS::TripleO::Services::OsloMessagingNotify: /usr/share/openstack-tripleo-heat-templates/deployment/rabbitmq/rabbitmq-messaging-notify-shared-puppet.yaml
  OS::TripleO::Services::HAproxy: /usr/share/openstack-tripleo-heat-templates/deployment/haproxy/haproxy-pacemaker-puppet.yaml
  OS::TripleO::Services::Pacemaker: /usr/share/openstack-tripleo-heat-templates/deployment/pacemaker/pacemaker-baremetal-puppet.yaml
  OS::TripleO::Services::PacemakerRemote: /usr/share/openstack-tripleo-heat-templates/deployment/pacemaker/pacemaker-remote-baremetal-puppet.yaml
  OS::TripleO::Services::Clustercheck: /usr/share/openstack-tripleo-heat-templates/deployment/pacemaker/clustercheck-container-puppet.yaml
  OS::TripleO::Services::Redis: /usr/share/openstack-tripleo-heat-templates/deployment/database/redis-pacemaker-puppet.yaml
  OS::TripleO::Services::Rsyslog: /usr/share/openstack-tripleo-heat-templates/deployment/logging/rsyslog-container-puppet.yaml
  OS::TripleO::Services::MySQL: /usr/share/openstack-tripleo-heat-templates/deployment/database/mysql-pacemaker-puppet.yaml
  OS::TripleO::Services::CinderBackup: /usr/share/openstack-tripleo-heat-templates/deployment/cinder/cinder-backup-pacemaker-puppet.yaml
  OS::TripleO::Services::CinderVolume: /usr/share/openstack-tripleo-heat-templates/deployment/cinder/cinder-volume-pacemaker-puppet.yaml
{% if cell|int > 0 %}
  # Complements the 'ManageNetworks: false', not needed otherwise
  OS::TripleO::Network::External: OS::Heat::None
  OS::TripleO::Network::InternalApi: OS::Heat::None
  OS::TripleO::Network::Storage: OS::Heat::None
  OS::TripleO::Network::StorageMgmt: OS::Heat::None
  OS::TripleO::Network::Tenant: OS::Heat::None
  OS::TripleO::Network::Management: OS::Heat::None
{% endif %}

parameter_defaults:
{% if cell|int > 0 %}
  # Specify that this is an additional cell
  NovaAdditionalCell: True
  # Disable network creation in order to use the `network_data.yaml` file from the overcloud stack,
  # and create ports for the nodes in the separate stacks on the existing networks.
  # NOTE(bogdando): might need to enable it, to deploy cells-specific subdomains from different network_data_cellX.yaml files.
  # Also, test RHOSO adoption for a metadata agent deployed per each cell, to see if it handles each one properly,
  # when transitioning all to a superconductor layoyt from a flat OSP17.1 layout
  ManageNetworks: false
  NovaLocalMetadataPerCell: True
{% endif %}
  RedisVirtualFixedIPs:
    - ip_address: 192.168.122.{{ 110 + cell * (max_cells - 1) + ind % max_cells }}
      use_neutron: false
  OVNDBsVirtualFixedIPs:
    - ip_address: 192.168.122.{{ 120 + cell * (max_cells - 1) + ind % max_cells }}
      use_neutron: false
  CellControllerExtraConfig:
    nova::compute::libvirt::services::libvirt_virt_type: qemu
    nova::compute::libvirt::virt_type: qemu
  CellControllerComputeExtraConfig:
    nova::compute::libvirt::services::libvirt_virt_type: qemu
    nova::compute::libvirt::virt_type: qemu
  ComputeExtraConfig:
    nova::compute::libvirt::services::libvirt_virt_type: qemu
    nova::compute::libvirt::virt_type: qemu
  Debug: true
  DockerPuppetDebug: true
  ContainerCli: podman
  ControllerCount: {{ contr_count }}
  CellControllerCount: {{ cell_contr_count }}
  CellControllerComputeCount: {{ aio_count }}
  ComputeCount: {{ comp_count }}
  NeutronGlobalPhysnetMtu: 1350
  CinderLVMLoopDeviceSize: 20480
  # TODO(bogdando): cells-specific DNS domains
  CloudName: multicell.{{ cloud_domain }} # cell{{ cell }}.{{ cloud_domain }}
  CloudNameInternal: multicell.internalapi.localdomain # internalapi.cell{{ cell }}.{{ cloud_domain }}
  CloudNameStorage: multicell.storage.localdomain # storage.cell{{ cell }}.{{ cloud_domain }}
  CloudNameStorageManagement: multicell.storagemgmt.localdomain # storagemgmt.cell{{ cell }}.{{ cloud_domain }}
  CloudNameExternal: multicell.external.localdomain # external.cell{{ cell }}.{{ cloud_domain }}
  CloudNameCtlplane: multicell.ctlplane.localdomain # ctlplane.cell{{ cell }}.{{ cloud_domain }}
  CloudDomain: {{ cloud_domain }}

  OVNCMSOptions: disable-chassis-as-gw
  NeutronPhysicalBridge: br-ex
  NeutronNetworkType: geneve
  NeutronTunnelTypes: geneve
  NeutronBridgeMappings: datacentre:br-ex

  # If tripleo_networking, update the existing os-net-config on deployed servers for tripleo isolnet
  # This should also work for CI, where we initially configure zuul subnodes with os-net-config,
  # but is mostly targeting local libvirt or cloud deployments (without zuul and ci-framework)
  NetworkConfigWithAnsible: {{ tripleo_networking }}
  ControllerNetworkConfigUpdate: {{ tripleo_networking }}
  ComputeNetworkConfigUpdate: {{ tripleo_networking }}
  BlockStorageNetworkConfigUpdate: {{ tripleo_networking }}
  ObjectStorageNetworkConfigUpdate: {{ tripleo_networking }}
  CephStorageNetworkConfigUpdate: {{ tripleo_networking }}
  NetworkerNetworkConfigUpdate: {{ tripleo_networking }}
  CellControllerNetworkConfigUpdate: {{ tripleo_networking }}
  CellControllerComputeNetworkConfigUpdate: {{ tripleo_networking }}

  ControllerNetworkConfigTemplate: templates/single_nic_vlans/single_nic_vlans.j2
  ComputeNetworkConfigTemplate: templates/single_nic_vlans/single_nic_vlans.j2
  BlockStorageNetworkConfigTemplate: templates/single_nic_vlans/single_nic_vlans.j2
  ObjectStorageNetworkConfigTemplate: templates/single_nic_vlans/single_nic_vlans.j2
  CephStorageNetworkConfigTemplate: templates/single_nic_vlans/single_nic_vlans.j2
  NetworkerNetworkConfigTemplate: templates/single_nic_vlans/single_nic_vlans.j2
  CellControllerNetworkConfigTemplate: templates/single_nic_vlans/single_nic_vlans.j2
  CellControllerComputeNetworkConfigTemplate: templates/single_nic_vlans/single_nic_vlans.j2
